ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  background-color: #3f3f3f;
  font-family: "Arial";
}

li>a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
}

li a:hover {
  background-color: #4CAF50;
}

@media screen and (max-width: 600px) {
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}