* {
  box-sizing: border-box;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.timeline {
  position: fixed;
  width: 6px;
  height: 100%;
  left: 50%;
  background-color: white;
  margin-left: -3px;
}

.container {
  display: inline-block;
  padding: 15px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  /* border: 1px solid red; */
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.textbox {
  display: block;
  background-color: white;
  padding: 10px 20px;
  /* border: 3px solid blue; */
  border-radius: 5px;
}

.left-triangle {
  position: absolute;
  top: 25px;
  right: 30px;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right-triangle {
  position: absolute;
  top: 25px;
  left: 30px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.left-circle {
  position: absolute;
  top: 22px;
  right: -13px;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 3px solid orange;
  border-radius: 50%;
}

.right-circle {
  position: absolute;
  top: 22px;
  left: -13px;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 3px solid orange;
  border-radius: 50%;
}

/* Credit to W3School - How To : Timeline */

@media screen and (max-width: 800px) {
  .timeline {
    left: 31px;
  }
  .container {
    width: 100%;
    padding-left: 60px;
    padding-right: 25px;
    /*     border: 1px solid green; */
  }
  .left-triangle, .right-triangle {
    left: 50px;
    right: auto;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .left-circle, .right-circle {
    left: 10px;
  }
  .right {
    left: 0%;
  }
}